<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    
    <%#= %= user % = injetando JS em Html, vindo lá da index.js %> 
    <h1><p>Bem-vindo(a) <strong><%= user %></strong> ao seu perfil! :)</p></h1>
    <hr>
    <a href="/">Voltar</a>
    
</body>
</html>