<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<br>
<h6 style="font-size: large;">Eu não tinha muito sobre o que fazer esse sitezinho então deu nisso.</h6>

<p style="font-size: small;">Era isso ou algo de D&D, mas eu não tive ideia sobre o que falar.</p>

<%- include ('partials/footer.ejs') %>