<footer style="background-color: #212529;" class="fixed-bottom">
    <br>
    <p style="text-align: center; color: #fff;">
        roda pé :)
    </p>
    <br>
</footer>
</body>
<script src="/js/script.js"></script>
</html>